<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mythology Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mythology Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">

    <ion-badge color="deepspace">{{quizService.getQuestionCounter()}} / {{quizService.questions.length}}</ion-badge>

    <h3>{{quizService.getActiveQuestion().question}}</h3>
  </div>

  <ion-list lines="full">

    <ion-item *ngFor="let answer of quizService.getActiveQuestion().answers; let i=index"
      (click)="quizService.checkAnswer(i)" [color]="answerColors(i)" tappable [button]="!quizService.hasAnswered"
      detail="false">
      <ion-icon *ngIf="isCorrectAnswerSelected(i)" slot="end" name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="isWrongAnswerSelected(i)" slot="end" name="close-circle-outline"></ion-icon>
      <ion-label class="ion-text-wrap">{{ answer }}</ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-text-center">
    <ion-button color="deepspace" [disabled]="!quizService.hasAnswered" (click)="continue()" tappable>Continue
    </ion-button>
    <h3 *ngIf="quizService.hasAnswered">Correct answers {{quizService.correctAnswers}} / {{quizService.questionCounter}}
    </h3>
  </div>

</ion-content>